$font: "Rubik", sans-serif;
$text-color: #4F5665;
$heading-color: #0B132A;
$primary-color: #F53838;
$gray-color: #DDE0E4;
$bg-gray:#F6F6F6;

/* media screen */
$screen1400: 1400px;
$screen1200: 1200px;
$screen1024: 1024px;
$screen992: 992px;
$screen767: 767px;
$screen576: 576px;
$screen479: 479px;
